{% extends 'base.html' %}
{% block content %}

<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Report Portal</h4>
                    <p class="card-description"> Report an Address for fine </p>
                    <form class="forms-sample" method="POST" action="{{ url_for('report_customer') }}" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="co_house_no">House Number</label>
                        <input type="text" class="form-control" id="co_house_no" name="co_house_no" placeholder="Type house number here" required>
                      </div>
                      <div class="form-group">
                        <label for="co_street">Street Name</label>
                        <input type="text" class="form-control" id="co_street" name="co_street" placeholder="Type street name here" required>
                      </div>
                      <div class="form-group">
                        <label for="co_city">City</label>
                        <input type="text" class="form-control" id="co_city" name="co_city" placeholder="Location" required>
                      </div>
                      <div class="form-group">
                        <label for="co_action">Action</label>
                        <input type="text" class="form-control" id="co_action" name="co_action" placeholder="Type what they did">
                      </div>
                      <div class="form-group">
                        <label for="co_date">Date</label>
                        <input type="date" class="form-control" id="co_date" name="co_date" required>
                      </div>
                      <div class="form-group">
                        <label for="img">File Upload</label>
                        <input type="file" class="form-control" id="img" name="img" >
                      </div>
                      <div class="form-group">
                        <label for="co_desc">Textarea</label>
                        <textarea class="form-control" id="co_desc" name="co_desc" rows="4" placeholder="Extra information"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark btn-primary">Cancel</button>
                    &nbsp  <a href="{{ url_for('driver_index') }}"><button type="button" class="btn btn-info btn-primary mr-2">Go Back</button></a>
                    </form>
                  </div>
                </div>
              </div>


   {% endblock %}